body {
    background: transparent url('../img/broadcast.jpg') no-repeat top right;
}
.control-group, .preview {
    padding: 10px;
}
.preview {
    margin-top: 50px;
}
.input-lg {
    width: 500px;
}